In [1]:
import ccxt
import pandas as pd
import time

In [2]:
# Binanceのインスタンスを作成（レートリミットを有効化）
exchange = ccxt.binance({
    'enableRateLimit': True,
})

# BTC/USDTのデータを取得
symbol = 'BTC/USDT'
timeframe = '1h'  # 15分足のデータ
since = exchange.parse8601('2020-01-01T00:00:00Z')  # データの開始日

# データを取得する関数（例外処理と進行状況の追加）
def fetch_all_ohlcv(symbol, timeframe, since):
    all_ohlcv = []
    now = exchange.milliseconds()
    while since < now:
        try:
            ohlcv = exchange.fetch_ohlcv(symbol, timeframe, since, limit=1000)
            if not ohlcv:
                break
            since = ohlcv[-1][0] + 1  # タイムスタンプを更新
            all_ohlcv.extend(ohlcv)
        except Exception as e:
            print(f'An error occurred: {e}')
            # リトライのために一時停止
            time.sleep(5)
            continue
    return all_ohlcv

# データを取得
ohlcv = fetch_all_ohlcv(symbol, timeframe, since)
data = pd.DataFrame(ohlcv, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# タイムスタンプを変換
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='ms')

# CSVファイルとして保存
data.to_csv('btc_usdt_1h_2018_to_now.csv', index=False)

print('Data fetching and saving completed.')

Data fetching and saving completed.

In [3]:
# データの読み込みと文字列として保存されている日時情報を日時型のデータに変換
df = pd.read_csv('btc_usdt_1h_2018_to_now.csv')
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [4]:
display(df.head())
display(df.tail())

            timestamp     open     high      low    close      volume
0 2020-01-01 00:00:00  7195.24  7196.25  7175.46  7177.02  511.814901
1 2020-01-01 01:00:00  7176.47  7230.00  7175.71  7216.27  883.052603
2 2020-01-01 02:00:00  7215.52  7244.87  7211.41  7242.85  655.156809
3 2020-01-01 03:00:00  7242.66  7245.00  7220.00  7225.01  783.724867
4 2020-01-01 04:00:00  7225.00  7230.00  7215.03  7217.27  467.812578

                timestamp      open      high       low     close      volume
43309 2024-12-10 21:00:00  96434.75  97200.70  96382.35  96858.00  2026.89962
43310 2024-12-10 22:00:00  96858.00  97099.49  96587.43  96849.44  1109.33596
43311 2024-12-10 23:00:00  96849.45  97128.62  96402.70  96593.00  1199.51886
43312 2024-12-11 00:00:00  96593.00  96842.42  95816.36  96412.61  1676.16419
43313 2024-12-11 01:00:00  96412.61  96635.79  95736.62  95739.13  1587.50823

In [5]:
print(df.head())

            timestamp     open     high      low    close      volume
0 2020-01-01 00:00:00  7195.24  7196.25  7175.46  7177.02  511.814901
1 2020-01-01 01:00:00  7176.47  7230.00  7175.71  7216.27  883.052603
2 2020-01-01 02:00:00  7215.52  7244.87  7211.41  7242.85  655.156809
3 2020-01-01 03:00:00  7242.66  7245.00  7220.00  7225.01  783.724867
4 2020-01-01 04:00:00  7225.00  7230.00  7215.03  7217.27  467.812578